<div class="introduction-header">
  <div class="introduction-header-inner">
      <div class="logo">
          <h3>EnterpriseManager</h3>
      </div>
      <div class="introduction-header-navbar">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Contact</a></li>
          <li> <button type="button" name="button" class="register-button">LogIn</button></li>
          <li> <button type="button" name="button" class="login-button">Register</button></li>
        </ul>


      </div>
  </div>
</div>
